{% extends 'base.html' %}

{% load static %}

{% block head %}

<title>Home | Craftr 2025</title>

<link rel="stylesheet" href="{% static 'craftr/base.css' %}" />

<meta name="description"
    content="Welcome to Craftr 2025, the ultimate digital crafting event. Explore Cricut, Silhouette, 3D printing, laser cutting, embroidery, and more!">

<meta name="keywords"
    content="Craftr, Digital Crafting, Cricut, Silhouette, 3D Printing, Laser Cutting, Embroidery, Crafting Classes, Online Workshops, Crafting Community">

{% endblock %}

{% block content %}

<main class="container-fluid hero-background">
    <!-- Hero Section -->
    <section class="row mt-5 mb-5 hero">
        <div class="col-12">
            <img src="https://res.cloudinary.com/dvzs9gve0/image/upload/v1744537296/c6sw9h4bjzlqmopsxfkl.webp"
                alt="Craftr Logo" class="hero-img mb-3">
            <h1 class="mb-3">Discover the Art of Digital Crafting</h1>
            <p class="mb-3">Join Craftr 2025 - a global crafting experience where creativity meets technology</p>
            <p class="mb-3">Discover the future of digital crafting with expert-led workshops, live demonstrations,
                and
                a
                thriving creative community.</p>
            <p class="mb-2">Whether you're a beginner or an experienced maker, there's something for
                everyone...let's
                get
                crafting! </p>
            <div class="button-container">
                <a href="{% url 'diary' %}" class="base-button purple-btn">Explore</a>
                <a href="{% url 'register' %}" class="base-button green-btn">Register</a>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="row mt-3 mb-5 hero">
        <div class="col-12">
            <h2 class="mb-4">Welcome to Craftr</h2>
            <p class="mb-2">The three-day annual digital crafting event <span class="event-emphasis">IS BACK</span>,
                and
                this year it's running from <span class="event-emphasis">21 - 23 April
                    2025</span><br><br>So why not join us for an immersive experience that celebrates the art of
                crafting in the
                digital age?</p>
            <p class="mb-2">Join expert-led crafting workshops where experienced instructors will lead you through
                hands-on sessions,<br>
                helping you master everything from vinyl cutting to laser engraving to embroidery digitisation.
            </p>
            <p class="mb-2">Experience live demonstrations showcasing cutting-edge techniques, tools, and digital
                crafting
                innovations -<br> watch skilled creators bring designs to life in real time.</p>
            <p >Become part of a global crafting community where makers, hobbyists, and professionals
                connect
                to
                share ideas,
                confront challenges, and inspire one another.<br>Whether you're a beginner or an expert, there's a
                place
                for
                you at Craftr!</p>
        </div>
    </section>

    <!-- Featured Workshops -->
    <section class="container-fluid hero">
                <h2 class="mb-4">Featured Workshops</h2>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                    <div class="workshop-card">
                        <a href="{% url 'details' 4 %}">
                            <img src="https://res.cloudinary.com/dvzs9gve0/image/upload/v1744566211/class-02_jsplby.webp"
                                class="workshop-img" alt="Cricut Machine basics">
                            <h3>Introduction to Cricut - Cutting Machine Basics</h3>
                        </a>
                    </div>
                    <div class="workshop-card">
                        <a href="{% url 'details' 5 %}">
                            <img src="https://res.cloudinary.com/dvzs9gve0/image/upload/v1744566212/class-03_stwmks.webp"
                                class="workshop-img" alt="Wood & Glass Decals">
                            <h3>3D Modelling for Fabric Designs</h3>
                        </a>
                    </div>
                    <div class="workshop-card">
                        <a href="{% url 'details' 17 %}">
                            <img src="https://res.cloudinary.com/dvzs9gve0/image/upload/v1744539200/wie9npmz3vb6uoblgjxi.jpg"
                                class="workshop-img" alt="DIY Leathercraft">
                            <h3>DIY Leathercraft with Digital Cutting Techniques</h3>
                        </a>
                    </div>
                    <div class="workshop-card">
                        <a href="{% url 'details' 22 %}">
                            <img src="https://res.cloudinary.com/dvzs9gve0/image/upload/v1744539222/lu2njzvdm65w8qmht6ys.jpg"
                                class="workshop-img" alt="Laser Engraved Wood Jewellery">
                            <h3>Laser-Engraved Wood & Acrylic Jewellery</h3>
                        </a>
                    </div>
                    <div class="workshop-card">
                        <a href="{% url 'details' 8 %}">
                            <img src="https://res.cloudinary.com/dvzs9gve0/image/upload/v1744566212/class-06_lkbhj3.webp"
                                class="workshop-img" alt="Laser Engraved Wood Jewellery">
                            <h3>Custom Sticker & Decal Design</h3>
                        </a>
                    </div>
                    <div class="workshop-card">
                        <a href="{% url 'details' 11 %}">
                            <img src="https://res.cloudinary.com/dvzs9gve0/image/upload/v1744566212/class-09_lyngvk.webp"
                                class="workshop-img" alt="Laser Engraved Wood Jewellery">
                            <h3>3D Printing Basics for DIY Crafting</h3>
                        </a>
                    </div>
                </div>
    </section>
</main>

{% endblock %}