{% extends 'base.html' %}

{% load static %}

{% block head %}

<title>Home | Craftr 2025</title>

<link rel="stylesheet" href="{% static 'craftr/base.css' %}" />

<meta name="description" content="Welcome to Craftr 2025, the ultimate digital crafting event. Explore Cricut, Silhouette, 3D printing, laser cutting, embroidery, and more!">

<meta name="keywords" content="Craftr, Digital Crafting, Cricut, Silhouette, 3D Printing, Laser Cutting, Embroidery, Crafting Classes, Online Workshops, Crafting Community">

{% endblock %}

{% block content %}

<h1>Welcome to Craftr!</h1>

{% endblock %}