{% extends 'base.html' %}

{% load static %}

{% block head %}

<title>Login</title>

<link rel="stylesheet" href="{% static 'craftr/base.css' %}" />

<meta name="description" content="TBC" />

<meta name="keywords" content="TBC" />

{% endblock %}

{% block content %}

<h1 class="mt-5 mb-3">Login</h1>

<div class="login-form-container">
    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label for="username">Username</label>
            {{ form.username }}
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            {{ form.password }}
        </div>

        <div class="button-group">
            <button type="submit" class="login-action-btn mint">Login</button>
            <input type="reset" value="Clear" class="login-action-btn apple-green">
        </div>
    </form>

    <div class="button-group">
        <a href="{% url 'register' %}" class="login-action-btn crimson">Register</a>
    </div>
</div>

{% endblock %}