{% extends 'base.html' %}

{% load static %}

{% block head %}

<title>Login | Craftr 2025</title>

<!-- Page-specific Meta Tags -->
<meta name="description"
    content="Log in to your Craftr account to access crafting workshops, manage your profile, and join the digital crafting community.">

<meta name="keywords"
    content="Login, Craftr Account, Secure Login, Digital Crafting, Cricut, Silhouette, 3D Printing, Laser Cutting, Online Crafting Workshops">

{% endblock %}

{% block content %}

<!-- Page explanation -->
<main class="account-background">
    <div class="hero mt-5 mb-5">
        <h1 class="mb-3">Login</h1>
        <div class="container-fluid mb-5">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-10">
                    <h2>Welcome back, crafter!</h2>
                    <p>Log in to access your account, review your enrolled crafting classes, and connect with the
                        community.
                        Let's make something amazing today!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Login form -->
    <div class="form-container mb-1 mt-1">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                {{ form.password }}
            </div>
            <div class="form-group button-container">
                <button type="submit" class="base-button purple-btn">Login</button><br><br>
                <input type="reset" value="Clear" class="base-button mint-btn">
            </div>
        </form>
        <a href="{% url 'register' %}"><button type="submit" class="base-button green-btn">Register</button></a>
    </div>
</main>

{% endblock %}