<!DOCTYPE html>
<html>
<head>
    <title>Craftr Diary</title>
</head>
<body>
    <h1>Craftr Diary</h1>

    <ul>
        {% for day in days %}
        <li>
            <strong>Date:</strong> {{ day.class_date }}
            <ul>
                {% for class in day.event_day.all %}
                <li>
                    <strong>Title:</strong> {{ class.class_title }}</br>
                    <strong>Start Time:</strong> {{ class.start_time }}</br>
                    <strong>End Time:</strong> {{ class.end_time }}</br>
                    <a href="{% url 'details' class.id %}"><button type="button">Details</button></a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
