<!DOCTYPE html>
<html>
<head>
    <title>User Registration</title>
</head>
<body>
    <a href="{% url 'home' %}">Go Home</a>
    <a href="{% url 'diary' %}">Go to Diary</a>
    <a href="{% url 'details' %}">Go to Class Details</a>
    <a href="{% url 'faq' %}">Go to FAQ</a>
    <a href="{% url 'contact' %}">Go to Contact</a>
    <a href="{% url 'login' %}">Go to Login</a>
    <a href="{% url 'register' %}">Go to User Registration</a>
    <a href="{% url 'account' %}">Go to User Account</a>
    <h1>Register an Account</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>User Information</h2>
        {{ user_form.as_p }}
        <h2>Profile Information</h2>
        {{ profile_form.as_p }}
        <button type="submit">Register</button>
    </form>
</body>
</html>
