{% extends 'base.html' %}

{% load static %}

{% block head %}

<title>Register | Craftr 2025</title>

<link rel="stylesheet" href="{% static 'craftr/base.css' %}" />

<meta name="description"
    content="Sign up for Craftr 2025! Create your account, enrol in crafting workshops, and explore digital crafting techniques.">

<meta name="keywords"
    content="Register, Craftr Account, Sign Up, Digital Crafting Workshops, Cricut, Silhouette, 3D Printing, Laser Cutting, Embroidery, Online Crafting Classes">

{% endblock %}

{% block content %}

<main class="account-background">
    <div class="hero mt-5 mb-5">
    <h1 class="mb-3">Register an Account</h1>
    <div class="container-fluid mb-5">
        <div class="row justify-content-center">
            <div class="col-10 col-lg-10">
                <h2>Join the Craftr community</h2>
                <p>Sign up and unlock access to digital crafting workshops, expert-led sessions, and interactive
                    tutorials.
                    Start your creative journey now!</p>
            </div>
        </div>
    </div>
    </div>
    <div class="form-container mt-1">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            <div class="form-group">
                <label for="username" class="mb-3">Username</label>
                {{ user_form.username }}
            </div>
            <div class="form-group">
                <label for="first_name" class="mb-3">First Name</label>
                {{ user_form.first_name }}
            </div>
            <div class="form-group">
                <label for="last_name" class="mb-3">Last Name</label>
                {{ user_form.last_name }}
            </div>
            <div class="form-group">
                <label for="email" class="mb-3">Email</label>
                {{ user_form.email }}
            </div>
            <div class="form-group">
                <label for="password1" class="mb-3">Password</label>
                {{ user_form.password1 }}
            </div>
            <div class="form-group">
                <label for="password2" class="mb-3">Confirm Password</label>
                {{ user_form.password2 }}
            </div>
            <div class="form-group">
                <label for="location" class="mb-3">Location</label>
                {{ profile_form.location }}
            </div>
            <div class="form-group">
                <label for="experience" class="mb-3">Experience Level</label>
                {{ profile_form.experience }}
            </div>
            <div class="form-group">
                <label for="profile_picture" class="mb-3">Profile Picture</label>
                {{ profile_form.photograph }}
            </div>
            <div class="button-container form-group">
                <button type="submit" class="base-button green-btn">Register</button>
                <input type="reset" value="Clear" class="base-button mint-btn">
            </div>
        </form>
    </div>
</main>

{% endblock %}