{% extends 'base.html' %}

{% load static %}

{% block head %}

<title>Page Not Found | Craftr 2025</title>

<link rel="stylesheet" href="{% static 'craftr/base.css' %}" />

<meta name="description"
    content="Oops! The page you're looking for does not exist. Explore digital crafting classes, events, and more at Craftr.">

<meta name="keywords" content="404 Error, Page Not Found, Page Not Loading, Website Error, Craftr Technical Support">

{% endblock %}

{% block content %}

<main class="error-image">
    <div class="form-container">
        <h1 class="error-title">Oops! That Page Seems To be Missing</h1>
        <p class="error-message">It looks like the page you're searching for doesn't exist or has moved.<br><br> No
            worries - you can
            head back to the Craftr homepage and explore our latest crafting classes instead.</p>
        <div class="button-container">
            <a href="{% url 'home' %}" class="base-button purple-btn">Home</a>
            <a href="javascript:history.back()" class="base-button orange-btn">Go Back</a>
        </div>
    </div>
</main>

{% endblock %}