{% extends 'base.html' %}

{% load static %}

{% block head %}

<title>Server Error | Craftr 2025</title>

<link rel="stylesheet" href="{% static 'craftr/base.css' %}" />

<meta name="description"
    content="Oops! Something went wrong on our end. Please try again later or contact support for assistance.">

<meta name="keywords" content="500 Error, Server Issue, Page Not Loading, Website Error, Craftr Technical Support">

{% endblock %}

{% block content %}

<main>
    <div class="server-error-container">
        <h1 class="server-error-title">Oops! Something Went Wrong On Our End</h1>
        <p class="server-error-message">We're experiencing technical difficulties, but don't worry — we're working on
            fixing
            it!<br><br>
            In the meantime, try refreshing the page or visiting Craftr's homepage for more crafting inspiration.</p>
        <div class="server-error-actions">
            <a href="{% url 'home' %}" class="server-action-btn apple-green">Return Home</a>
            <a href="javascript:history.back()" class="error-action-btn mint">Go Back</a>
        </div>
    </div>
</main>

{% endblock %}