{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>

    <!-- Details common to all pages -->

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Dominic Francis">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">

    <!-- Custom favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'craftr/favicon.ico' %}">

    <!-- Website CSS -->
    <link rel="stylesheet" href="{% static 'craftr/base.css' %}">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Junge&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    {% block head %}

    {% endblock %}

</head>

<body>

    <!-- Header and navigation -->
    <header class="container-fluid mb-5 fixed-top">
        <div class="row">
            <div class="col-12 text-center bg-body-tertiary">
                <a href="{% url 'home' %}" aria-label="Craftr Home Page"><img
                        src="https://res.cloudinary.com/dvzs9gve0/image/upload/v1744537296/c6sw9h4bjzlqmopsxfkl.webp"
                        alt="Craftr Logo" class="header-logo"></a>
            </div>
        </div>
        <div class="row">
            <nav class="col-12 navbar navbar-expand-lg bg-body-tertiary pb-3">
                <div class="mx-auto">
                    <button class="navbar-toggler mb-4" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarHome" aria-controls="navbarHome" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon pt-4 pb-4"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarHome">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-entry {% if request.resolver_match.url_name == 'home' %}
                                active{% endif %}">
                                <a class="nav-details" aria-label="Home Page Link" href="{% url 'home' %}">HOME</a>
                            </li>
                            <li class="nav-entry {% if request.resolver_match.url_name == 'diary' %}
                                active{% endif %}">
                                <a class="nav-details" aria-label="Diary Page Link" href="{% url 'diary' %}">CLASSES</a>
                            </li>
                            <li class="nav-entry {% if request.resolver_match.url_name == 'faq' %}
                                active{% endif %}">
                                <a class="nav-details" aria-label="FAQ Page Link" href="{% url 'faq' %}">FAQ</a>
                            </li>
                            <li class="nav-entry {% if request.resolver_match.url_name == 'contact' %}
                                active{% endif %}">
                                <a class="nav-details" aria-label="Contact Page Link"
                                    href="{% url 'contact' %}">CONTACT</a>
                            </li>
                            <li class="nav-entry {% if request.resolver_match.url_name == 'account' %}
                                active{% endif %}">
                                <a class="nav-details" aria-label="Account Page Link" href="{% url 'account' %}">
                                    {% if request.user.is_authenticated %}
                                    ACCOUNT
                                    {% else %}
                                    REGISTER / LOGIN
                                    {% endif %}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- Django toast messages -->
    {% if messages %}
    <div aria-live="polite" aria-atomic="true" class="position-relative">
        <div class="toast-container position-absolute top-0 end-0 p-3">
            <div id="toastMessage" class="toast bg-primary text-white" role="alert" aria-live="assertive"
                aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Notification</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
                </div>
                <div class="toast-body">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% block content %}

    {% endblock %}

    <!-- Footer -->
    <footer class="container-fluid crimson">

        <div class="row footer">

            <!-- Legal and copyright information -->
            <div class="col-6 text-center social-container">
                <a href="https://www.dominicfrancis.co.uk" target="_blank" rel="noopener noreferrer"
                    aria-label="Dominic Francis's website" class="smallprint">&#169; 2025 | Dominic Francis | All
                    Rights Reserved</a>
            </div>
            <!-- Social media links -->
            <div class="col-6 text-center social-container">
                <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"
                    class="fa-brands fa-square-facebook" aria-label="Share on Facebook"><span
                        class="social-media">Facebook</span></a>
                <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer"
                    class="fa-brands fa-square-instagram ms-2" aria-label="Share on Instagram"><span
                        class="social-media">Instagram</span></a>
                <a href="https://bsky.app" target="_blank" rel="noopener noreferrer" class="fa-brands fa-bluesky ms-2"
                    aria-label="Share on Bluesky"><span class="social-media">Bluesky</span></a>
                <a href="https://github.com/dvfrancis/craftr" target="_blank" rel="noopener noreferrer"
                    class="fa-brands fa-github ms-2" aria-label="Visit project repository on GitHub"><span
                        class="social-media">GitHub</span></a>
            </div>
        </div>

    </footer>

    <!-- Scripts -->
    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous">
    </script>
    <!-- Fontawesome JavaScript-->
    <script src="https://kit.fontawesome.com/9a47a7f2a8.js" crossorigin="anonymous"></script>
    <!-- Website JavaScript -->
    <script src="{% static 'craftr/base.js' %}"></script>

</body>

</html>