/* C S S  R E S E T */

/* Taken from http://meyerweb.com/eric/tools/css/reset v2.0 | 20110126 License: none (public domain) */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: circle;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* P R O J E C T  S T Y L E S */

/* G E N E R A L */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fafafa;
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

/* Make footer stick to bottom of page (see https://materializecss.com/footer.html) */

main {
  margin-top: 100px;
  flex: 1 0 auto;
}

h1 {
  padding: 1rem 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: xx-large;
  font-weight: 800;
  font-style: normal;
  text-align: center;
}

h2 {
  padding: 1rem 0;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-size: x-large;
  font-weight: bolder;
  font-style: normal;
  text-align: center;
}

h3 {
  padding: 1rem 0;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-size: large;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

p {
  padding: 0.5rem 0;
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: large;
  text-align: center;
}

a {
  text-decoration: none;
}

ul li {
  list-style-position: inside;
  text-align: center;
}

/* Placeholder form text */

::placeholder {
  text-align: center;
}

/* U T I L I T Y */

/* Colours */

.apple-green {
  background-color: #7db657;
  color: #FFF;
}

.mint {
  background-color: #0091ac;
  color: #FFF;
}

.royal-purple {
  background-color: #753da2;
  color: #FFF;
}

.crimson {
  background-color: #b40001;
  color: #FFF;
}

.orange {
  background-color: #ff8500;
  color: #FFF;
}

.gold {
  background-color: #ffc500;
  color: #FFF;
}

/* Alignment */

.centre-align-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centre-align-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* H E A D E R */

/* Navigation background */

.bg-body-tertiary {
  height: 100px;
  background-color: #b40001 !important;
}

/* Navigation item */

li.nav-entry a {
  color: #fff;
}

/* Navigation item style*/

a.nav-details {
  margin-left: 4rem;
  margin-right: 4rem;
  padding: 0.5rem;
  color: #fff;
}

/* Navigation item - hover */

a.nav-details:hover {
  background-color: #ffc500;
  color: #b40001;
  border-radius: 15px;
}

/* Hamburger menu */

/* Info from https://www.youtube.com/watch?v=45QSuJaHEss */

.navbar-toggler {
  --bs-navbar-toggler-border-color: #fff;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  color: #fff;
}

/* F O O T E R */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.smallprint {
  font-size: larger;
  color: #FFF;
  text-decoration: none;
}

.footer-logo {
  margin-top: 5px;
  width: 85px;
}

.smallprint:hover {
  text-decoration: none;
  color: #753da2;

}

/* Hide social media text */
.social-media {
  display: none;
}

/* Social media icons */

.fa-brands {
  font-size: 40px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

/* Facebook icon */

.fa-square-facebook:hover {
  color: #0165e1;
  border: none;
}

/* Instagram icon*/

.fa-square-instagram:hover {
  color: #ff68ed;
  border: none;
}

/* Bluesky icon */

.fa-bluesky:hover {
  color: #0084ff;
  border: none;
}

/* GitHub icon */

.fa-github:hover {
  color: #01040a;
  border: none;
}

/* H O M E */

/* C L A S S E S */

/* Class and Instructor images*/

.class-image,
.instructor-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin: 0 auto;
}

.diary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.diary-day {
  width: 100%;
  background-color: #ffc500;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
}

.diary-classes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  justify-content: center;
}

.diary-class {
  display: flex;
  align-items: center;
  background: #fafafa;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.class-details {
  text-align: center;
}

.class-action-btn {
  display: inline-block;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  background-color: #0091ac;
  color: white;
  text-decoration: none;
}

/* C L A S S  D E T A I L S */

.class-details-container {
  display: flex;
  gap: 30px;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  background-color: #ffc500;
  border-radius: 15px;
  justify-content: space-between;
}

.class-info {
  flex: 2;
  text-align: center;
}

.instructor-info {
  flex: 1;
  text-align: center;
}

.image-group img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.site-heading {
  font-weight: bold;
  font-size: 1.2rem;
}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.details-action-btn {
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

/* F A Q */

#faq-info {
  /* margin-top: 50px; */
}

.accordion {
  /* font-family: 'Hind Madurai', serif; */
  font-size: 1.25em;
  /* margin-top: 75px; */
  --bs-accordion-border-color: #FAC600 !important;
}

.accordion-item {
  border: 1px solid #FAC600 !important;
}

.accordion-button {
  /* font-family: 'Hind Madurai', serif; */
  font-size: 0.75em !important;
  background-color: #FAC600 !important;
  color: #000 !important;
}

/* C O N T A C T */

.contact-form {
  width: 75%;
  height: auto;
  margin: 50px auto;
  border: 1px solid #ccc;
  background-color: #ffc500;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.submit-btn,
.reset-btn {
  margin: 10px 10px;
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.submit-btn {
  background-color: #753da2;
  color: white;
}

.reset-btn {
  background-color: #7db657;
  color: white;
}

/* R E G I S T E R */

.register-form-container {
  width: 75%;
  margin: 100px auto;
  padding: 2rem;
  background-color: #ffc500;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.register-action-btn {
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

/* L O G I N */

.login-form-container {
  width: 75%;
  margin: 100px auto;
  padding: 2rem;
  background-color: #ffc500;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.login-action-btn {
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

/* A C C O U N T */

/* User images */

.user-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

/* Enrolment item grid */

.enrolments {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  margin: auto;
  max-width: 900px;
}

.enrolments>* {
  margin: auto;
}

.enrolment-item {
  background-color: #ffc500;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 250px;
  width: 250px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.site-heading {
  font-weight: bold;
  font-size: 1.2rem;
}

/* Account buttons */

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.account-action-btn {
  width: 200px;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

.logout-btn {
  background-color: #0091ac;
  color: white;
}

.edit-profile-btn {
  background-color: #7db657;
  color: white;
}

.delete-account-btn {
  background-color: #b40001;
  color: white;
}

.withdraw-btn {
  background-color: #753da2;
  color: white;
}

.details-btn {
  background-color: #ff8500;
  color: white;
}

/* U P D A T E  P R O F I L E */

.profile-form-container {
  width: 75%;
  height: auto;
  margin: 50px auto;
  border: 1px solid #ccc;
  background-color: #ffc500;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.profile-form-group {
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.profile-action-btn {
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

/* 4 0 4  E R R O R */

.error-container {
  width: 75%;
  margin: 100px auto;
  padding: 2rem;
  background-color: #ffc500;
  border-radius: 15px;
  text-align: center;
}

.error-title {
  font-size: 2rem;
  font-weight: bold;
}

.error-message {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.error-image {
  width: 250px;
  height: auto;
  margin: 20px auto;
}

.error-actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.error-action-btn {
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

/* 5 0 0  E R R O R */

.error-container {
  width: 75%;
  margin: 100px auto;
  padding: 2rem;
  background-color: #ffc500;
  border-radius: 15px;
  text-align: center;
}

.error-title {
  font-size: 2rem;
  font-weight: bold;
}

.error-message {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.error-image {
  width: 250px;
  height: auto;
  margin: 20px auto;
}

.error-actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.server-action-btn {
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

/* M E D I A  Q U E R I E S */

/* Info used from https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_media_queries/Using_media_queries */

/* Bootstrap extra small (none) */
@media (max-width: 575px) {
  body {
    /* padding-top: 185px; */
  }
}

/* Bootstrap small (sm) */
@media (min-width: 576px) and (max-width: 767px) {
  body {
    /* padding-top: 190px; */
  }
}

/* Bootstrap medium (md) */
@media (min-width: 768px) and (max-width: 991px) {
  body {
    /* padding-top: 190px; */
  }
}

/* Bootstrap large (lg) */
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    /* padding-top: 180px; */
  }
}

/* Bootstrap extra large (xl) */
@media (min-width: 1200px) and (max-width: 1399px) {
  body {
    /* padding-top: 180px; */
  }
}

/* Bootstrap extra extra large (xxl) */
@media (min-width: 1400px) {
  body {
    /* padding-top: 190px; */
  }
}