{% extends 'base.html' %}

{% load static %}

{% block head %}

    <title>Class Details</title>

{% endblock %}

{% block content %}

    <h1>Class Details</h1>

    <table>

        <tr>
            <td><strong>Class</strong></td>
            <td>{{ event_class.class_title }}</td>
        </tr>
        <tr>
            <td><strong>Description</strong></td>
            <td>{{ event_class.class_description }}</td>
        </tr>
        <tr>
            <td><strong>Day</strong></td>
            <td>{{ event_class.event_day.class_date|date:"d F Y" }}</td>
        </tr>
        <tr>
            <td><strong>Start</strong></td>
            <td>{{ event_class.start_time|time:"g:i a" }}</td>
        </tr>
        <tr>
            <td><strong>End</strong></td>
            <td>{{ event_class.end_time|time:"g:i a" }}</td>
        </tr>
        <tr>
            <td><strong>Difficulty</strong></td>
            <td>{{ event_class.difficulty }}</td>
        </tr>
    </table>
    {% if request.user.is_authenticated %}
        <form method="POST" action="{% url 'details' event_class.id %}">
        {% csrf_token %}
        {% if is_enrolled %}
        <button type="submit" name="action" value="remove">Withdraw</button>
        {% else %}
        <button type="submit" name="action" value="enrol">Enrol</button>
        {% endif %}
        </form>
    {% else %}
        <a href="{% url 'login' %}?next={{ request.path }}">
        <button type="button">Login</button>
        </a>
        <a href="{% url 'register' %}?next={{ request.path }}">
        <button type="button">Register</button>
        </a>
    {% endif %}
    <br>

{% endblock %}
