{% extends 'base.html' %}

{% load static %}

{% block head %}

<title>Class Details</title>

<link rel="stylesheet" href="{% static 'craftr/base.css' %}" />

<meta name="description" content="TBC" />

<meta name="keywords" content="TBC" />

{% endblock %}

{% block content %}

<h1 class="mt-5 mb-3">Class Details</h1>

<div class="class-details-container">
  <div class="class-info">
    <img src="{{ event_class.class_image.url|default:placeholder|add:'?w=250&h=250&c_fill,g_face,r_max' }}"
      alt="Class Image" class="class-image" />

    <p class="site-heading">Class Title</p>
    <p>{{ event_class.class_title }}</p>

    <p class="site-heading">Day</p>
    <p>{{ event_class.event_day.class_date|date:"d F Y" }}</p>

    <p class="site-heading">Start Time</p>
    <p>{{ event_class.start_time|time:"g:i a" }}</p>

    <p class="site-heading">End Time</p>
    <p>{{ event_class.end_time|time:"g:i a" }}</p>

    <p class="site-heading">Description</p>
    <p>{{ event_class.class_description }}</p>

    <p class="site-heading">Difficulty</p>
    <p>{{ event_class.difficulty }}</p>

    <div class="button-group">
      {% if request.user.is_authenticated %}
      <form method="POST" action="{% url 'details' event_class.id %}">
        {% csrf_token %}
        {% if is_enrolled %}
        <button type="submit" name="action" value="remove" class="action-btn royal-purple">Withdraw</button>
        {% else %}
        <button type="submit" name="action" value="enrol" class="action-btn mint">Enrol</button>
        {% endif %}
      </form>
      {% else %}
      <a href="{% url 'login' %}?next={{ request.path }}" class="details-action-btn apple-green">Login</a>
      <a href="{% url 'register' %}?next={{ request.path }}" class="details-action-btn crimson">Register</a>
      {% endif %}
    </div>
  </div>

  <div class="instructor-info">
    <img src="{{ event_class.instructor_image.url|default:placeholder|add:'?w=250&h=250&c_fill,g_face,r_max' }}"
      alt="Instructor Image" class="instructor-image" />

    <p class="site-heading">Instructor</p>
    <p>{{ event_class.instructor }}</p>

    <p class="site-heading">Biography</p>
    <p>{{ event_class.instructor_bio }}</p>
  </div>
</div>

{% endblock %}