{% extends 'base.html' %}

{% load static %}

{% block head %}

<title>Update Profile | Craftr 2025</title>

<!-- Page-specific Meta Tags -->
<meta name="description"
    content="Edit your Craftr profile, update your account details, and manage your crafting preferences and enrolled classes.">

<meta name="keywords"
    content="Update Profile, Craftr Account, Crafting Preferences, Account Settings, Profile Management">

{% endblock %}

{% block content %}

<!-- Page explanation -->
<main class="account-background">
    <div class="hero mt-5">
        <h1>Update Your Profile</h1>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-10">
                    <h2>Keep your profile updated</h2>
                    <p>Make sure your details reflect the latest information</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Update profile form -->
    <div class="form-container mt-5 mb-2">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <label for="id_first_name">First Name</label>
                {{ user_form.first_name }}
            </div>

            <div class="form-group">
                <label for="id_last_name">Last Name</label>
                {{ user_form.last_name }}
            </div>

            <div class="form-group">
                <label for="id_email">Email</label>
                {{ user_form.email }}
            </div>

            <div class="form-group">
                <label for="id_location">Location</label>
                {{ profile_form.location }}
            </div>

            <div class="form-group">
                <label for="id_experience">Experience Level</label>
                {{ profile_form.experience }}
            </div>

            <div class="form-group">
                <label for="id_photograph">Profile Picture</label>
                {{ profile_form.photograph }}
            </div>

            <div class="form-group">
                <button type="submit" class="base-button green-btn">Save</button>
                <input type="reset" value="Clear" class="base-button mint-btn">
                <a href="{% url 'account' %}" class="base-button red-btn" aria-label="Cancel any updates">Cancel</a>
            </div>
        </form>
    </div>
</main>

{% endblock %}