{% extends 'base.html' %}

{% load static %}

{% block head %}

<title>Contact Us</title>

<link rel="stylesheet" href="{% static 'craftr/base.css' %}" />

<meta name="description" content="TBC" />

<meta name="keywords" content="TBC" />

{% endblock %}

{% block content %}

<h1 class="mt-5">Get In Touch</h1>

<form method="POST" class="contact-form">
    {% csrf_token %}
    <div class="form-group">
        <p>First Name</p>
        <div class="form-item">
            {{ form.first_name }}
        </div>
        <p>Last Name</p>
        <div class="form-item">
            {{ form.last_name }}
        </div>
        <p>Email</p>
        <div class="form-item">
            {{ form.email }}
        </div>
        <p>Message</p>
        <div class="form-item">
            {{ form.message }}
        </div>
        <div id="centre-align-row">
            <button type="submit" class="submit-btn">Send</button>
            <input type="reset" value="Clear" class="reset-btn">
        </div>
    </div>
</form>

{% endblock %}